.contact .row{
    display: flex;
    /* background:#161616; */
    flex-direction: row;
    gap:1rem;
    margin-left: 7em;
    margin-right: 7rem;
    margin-bottom: 7rem;
}
.contact .row .column{
    float: left;
    width: 50%;
    margin-top: 6px;
}
.contact h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    margin: 2rem;
}
.contact .heading span{
    color: #d3ad7f;
}
.contact .heading {
    padding-top: 150px;
    margin-top: -10px;
}
.contact .row .map{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:0 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 1.8rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: #fff;
    border:.1rem solid rgba(255,255,255,.3);
}
.contact .row form .inputBox input{
    width: 100%;
    padding:1rem;
    font-size: 1rem;
    color:#fff;
    text-transform: none;
    background:none;
    border: solid 1px #fff;
}
.contact .row form .inputBox textarea{
    width: 100%;
    padding:1rem;
    font-size: 1rem;
    color:#fff;
    text-transform: none;
    background:none;
    border: solid 1px #fff;
}
.btn{
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1rem;
    color:#fff;
    background: #d3ad7f;
    cursor: pointer;
    border: solid 1px #fff;
}

.contact {
    background-color: rgba(0, 0, 0, .45);
    padding-bottom: 50px;
}