.intro {
  text-align: center;
  height: 800px;
  color:  #fff;
  padding-top: 200px;
  font-weight: 600;
  margin-top: 180px;
  width: 100vw;
}

.intro p:first-child {
  font-size: 54px;
}
.intro p:last-child {
  font-size: 34px;
}

.imageIntro {
  background-image: url('../../assets/images/intro1.svg');
  width: 100vw;
  background-repeat: no-repeat;
  height: 800px;
  background-size: cover;
}
.imageIntro p {
  padding-top: 200px;
  font-size: 40px;
  color: #fff;
}
.imageIntro div {
    padding-left: 80px;

}
.imageIntro div button {
    margin-top: 100px;
    padding: 10px;
}

.imageIntro div button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.lastIntro {
    color: #fff;
}

.lastIntro p {
    font-size: 40px;
    font-weight: 500;
    display: block;
}
