body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('./assets/images/back.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
