body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('./assets/images/back.jpeg'); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

